export("txomeai_connect", "txomeai_get",
       "txomeai_get_all", "txomeai_login", "txomeai_ls",
       "txomeai_display")
import(data.table)
import(httr)
import(magick)
importFrom(BiocFileCache, bfccache)
importFrom(urltools, url_parse, url_compose)
importFrom(jsonlite, fromJSON)
importFrom(getPass, getPass)
importFrom(utils, read.csv)